#main-container {
    min-height: 85vh;
}

#common-loader{
    position: relative;
}

.common-loader-conetent{
    position: absolute;
    top: 400px;
    right: 50%;
    z-index: 9999;
}
.common-loader-backdrop{
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    position:fixed;

}


.loading-text {
    margin-top: 20%;
    text-align: center;
}

.closebtnmodal {
    background: unset;
    border: 0;
}

.closebtnmodal span i {
    font-size: 23px;
}

.form-submail {
    display: flex;
    justify-content: space-between;
}

.pull-right {
    float: right;
}

label.error {
    color: red;
}

.form-control.error {
    border-color: red;
}

body.loading #main-content {
    display: none;
}

section.panel.panel-info {
    width: 75%;
}


.profile-left .pro-quote {
    padding: 20px 15px 15px;

    color: #748f9e;
}

.pro-quote img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.pro-quote .author-name {
    margin: 10px 0 5px;
    font-weight: 500;
    color: #212529;
    font-size: 20px;
}

.pro-quote h4 {
    display: block;
    margin: 0 0 10px;
    font-size: 18px;
    color: #212529;
}

.pro-info {
    padding: 15px;
    color: #212529;
    font-weight: 700;

}


.edit-profile_wrapper label {
    font-weight: 500 !important;
}

.pro-info table {
    width: 100%;
}

.pro-info table tr td {
    text-align: left;
    font-size: 14px;
    padding: 7px 0;
    font-weight: 500;
}

.pro-info table tr td:last-child {
    text-align: right;
    font-weight: 500;
}

.profile-left {
    border-radius: 6px;
    background-color: #fff;
}

#image-crop {
    max-width: 100%;
}

.image-crop-box {
    width: 400px;
    margin: 20px auto;
}

.pad-lr {
    padding-left: 0px;
    padding-right: 0px;
}

.card-header.borderremove {
    border-bottom: 0;
}

.fa-camera {
    position: relative;
    right: 19px;
    top: -27px;
}



.drop-file {
    width: 100%;
    height: 180px;
    border: 2px solid grey;
    border-radius: 4px;
}

.drop-text {
    margin-top: 65px;
    text-align: center;
    cursor: pointer;
}

.quest-rowline {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    padding: 0;
}

.quest-rowline .nav-link {
    padding: 0.5rem 4rem !important;
}



.btn-primary:hover {
    color: #fff;
    background-color: #607980;
    border-color: #607980;
}

.card-textitam .card-header {
    background: unset !important;
}

.card-textitam .card-header ul li a {
    color: unset !important;
}

.col-cardqust {
    padding-left: 10px;
    padding-right: 10px;
}

img.image-preview {
    width: 100%;
    max-width: 433px;
}

.video-preview {
    width: 100%;
    height: 100%;
    max-width: 333px;
}

.file-preview-item {
    position: relative;

}

.file-preview-item button {
    position: absolute;
    right: 3px;
    top: -9px;
}

.file-preview-item button .fa-xmark {
    font-size: 19px;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 46px;
}

.form.row {
    margin-top: 15px;
}



.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred p {
    color: #000 !important;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused p {
    color: #000 !important;
}


#template-customizer {
    display: none !important;
}

.breadcrumb-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-block {
    margin-top: 10px;
}

.checkbox-block h4 {
    margin-left: 10px;
}

.checkbox-child {
    margin-right: 10px;
}

.cookies-use {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.experience h3,
.experience p {
    margin: 0;
    color: #fff !important;
}

.accept-btn a:not([href]) {
    color: #fff !important;
}

.fixed-cookies {
    position: fixed;
    bottom: 0;
    background: #2f3349;
    ;
    /* top: 0; */
    width: 100%;
    padding: 12px 35px;
}

.fixed-cookies-admin {
    position: fixed;
    bottom: 0;
    background: #2f3349;
    width: 77%;
    padding: 12px 35px;
}
.app-brand-text.demo {
    white-space: nowrap;
}
.layout-menu-collapsed:not(.layout-menu-hover):not(.layout-menu-offcanvas):not(.layout-menu-fixed-offcanvas) .layout-menu .app-brand {
    padding-inline: calc(var(--bs-menu-vertical-link-padding-x) * 1.1333);
}

@media only screen and (max-width: 575px) {
    .cookies-use {
        display: block;
    }
}

.h-px-44 {
  height: 44px !important;
}

.w-30 {
    width: 30% !important;
}

.navbar-nav .nav-item.active > .nav-link {
  color: #696cff !important;
}
.wrap-td {
  white-space: normal;
  max-width: 260px;
}

.layout-menu-collapsed:not(.layout-menu-hover):not(.layout-menu-offcanvas):not(.layout-menu-fixed-offcanvas) .layout-menu .app-brand-text {
    display: none;
}
.app-brand {
    overflow: hidden;
}
.layout-compact.layout-menu-fixed.layout-menu-collapsed .fav-side{
    display: block;
}
.layout-menu-hover .fav-side,
.fav-side {
    display: none;
    height: auto !important;
}
.layout-menu-hover .fav-side {
    display: none !important;
}
.demo-img-logo{
        height: 44px;
}


